<meta charset="utf-8">
<title>National Parks</title>
<!-- ============= FONTS ============= -->
<link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700|Montserrat:300,400,700&display=swap" rel="stylesheet">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<!-- ============= STYLES ============= -->
<link rel="stylesheet" href="/style.css">
<div class='headcontainer'>
        <h1 id='websiteTitle' >Outdoor Exploration</h1>
        <div id="loginSignup">
            <ul class="right" style="float: right;">
                <% if (currentUser) { %>
                <li>Welcome <%= currentUser.username %></li>
                <li> <a href="/favorites">Favorites</a></li>
                <>
                <form action="/sessions?_method=DELETE" method="POST">
                    <input type="submit" value="Log Out" class="btn-small red" />
                </form>
                <% } else { %>
                <button type="button" class="btn-primary"> <a href="/users/new">Sign Up</a></button>
                <button type="button" class="btn-primary" ><a href="/sessions/new">Log In</a></button>
                <% } %>
                <div id="homepage">
                    <button><a href="/">Home Page</a></button>
                </div>
            </ul>
        </div>
    </div>
</div>





