
body {
    margin: 2%;
    margin-top: 1%;
    border: royalblue;
}

.headcontainer {
    background-color: #932432;
    display: flex;
}

#websiteTitle {
    color: #F3F3F3;
    display: flex;
    font-size: 370%;
}

.loginSignupHomepage{
    justify-content: right;
    align-items: right;
}


#top, #bottom, #left, #right {
	background: darkolivegreen;
	position: fixed;
    }
    
#left, #right {
    top: 0; bottom: 0;
    width: 20px;
    }
    #left { left: 0; }
    #right { right: 0; }
    
#top, #bottom {
    left: 0; right: 0;
    height: 22px;
    }
    #top { top: 0; }
    #bottom { bottom: 0; }

    