
body {
    margin: 2%;
    margin-top: 1%;
    border: royalblue;
}

#title {
    background-color: chartreuse;
    align-items: right
}

#websiteTitle {
    color: blueviolet;
    display: flex;
}

.SignUpLogin {

}

#top, #bottom, #left, #right {
	background: #a5ebff;
	position: fixed;
    }
    
#left, #right {
    top: 0; bottom: 0;
    width: 20px;
    }
    #left { left: 0; }
    #right { right: 0; }
    
#top, #bottom {
    left: 0; right: 0;
    height: 22px;
    }
    #top { top: 0; }
    #bottom { bottom: 0; }

    