
body {
    margin: 2%;
    margin-top: 1%;
    border: royalblue;
}

/* HEAD CONTAINER */
.headcontainer {
    background-color: #932432;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

#websiteTitle {
    color: #F3F3F3;
    display: flex;
    font-size: 370%;
}


/* SIGNUP LOGIN AND HOMEPAGE BUTTONS */
.btn-group, .btn-secondary, .btn-primary {
    display: inline-flex;
    flex-wrap: wrap;
    float: right;   
}

.btn-secondary, .btn-primary {
border: 1px ridge black;
width: 120px;
height: 29px;
}

.btn-secondary, .btn-primary:hover, .buttonText:hover {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    box-shadow: none;
    opacity: 1.0;
    text-decoration: none;
}

.buttonText {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: black;
  }


/* NATIONAL PARK SEARCH, SEARCHBAR, SUBMIT & CLEAR BUTTONS */
.searchBar {
    display: flex;
    justify-content: center;
    
}

.title {
    display: flex;
    justify-content: center;
}

.searchButton {
    margin: 4px 5px 10px 5px ;
}

#submitButton {
    font-weight: bold;
    color: white;
    background-color: darkslategrey;

}

#clearSearch, #clearSearch:link, #clearSearch:visited, #clearSearch:hover {
    font-weight: bold;
    color: white;
    background-color: #932432;
    text-decoration: none;
}


#top, #bottom, #left, #right {
	background: #5d5c61;
    position: fixed;
    }
    
#left, #right {
    top: 0; bottom: 0;
    width: 21px;
    }
    #left { left: 0; }
    #right { right: 0; }
    
#top, #bottom {
    left: 0; right: 0;
    height: 10.5px;
    }
    #top { top: 0; }
    #bottom { bottom: 0; }

