<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
</head>
<div id="left"></div>
<div id="right"></div>
<div id="top"></div>
<div id="bottom"></div>
<body>
    <h1>Index Page</h1>
    <button><a href="/show">Details of each National Park</a></button>
</body>
</html>