<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head.ejs') %>
    </head>
<body>
    <h1>All national parks list</h1>
    <button> <a href="/"> Back to Index page</a> </button>
</body>
</html>